<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The doctor is in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
        <tbody>
        <tr>
            <th>Doctors</th>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/1">First Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/2">Second Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/3">Third Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/4">Fourth Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/5">Fifth Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/6">Sixth Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/7">Seventh Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/8">Eighth Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/9">Ninth Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/10">Tenth Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/11">Eleventh Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/12">Twelfth Doctor</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8080/doctor/13">Thirteenth Doctor</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>